*{
    text-align: center;
}
.titulo {
    background-color: red;
    text-align: center;
    font-size: 100px;
    color: white;
    
}

.sub-titulo{
    background-color: red;
    font-size: 30px;
    color: white;
}
